.toolbar
    h1 page1.jade
    a.button(id="backButton", ng-tap="$navigate.back()") Back
    a.button(style="left: auto; right: 6px;", ng-tap="$navigate.go('/popup1')") Popup1
.content.panel
    p I am page1.jade
