extends layout
block body
    div(ng-controller='AppCtrl')
        mobile-view
    script(src='js/lib/angular/angular.min.js')
    script(src='js/main.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/lib/mobile-nav.min.js')