!!!
html(ng-app="Main")
    head(lang="en")
        meta(charset='utf8')
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
        base(href='/')
        title Seed for iUI+Angular+Node
        link(rel="stylesheet", href="/css/iui.css")
        link(rel="stylesheet", href="/css/default-theme.css")
        link(rel='stylesheet', href='/css/mobile-nav.css')
    body
        block body